---
import TailwindIcon from './icons/Tailwind.astro';
import AstroIcon from './icons/AstroIcon.astro';

const TAGS = {
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon,
    },
}

const PROJECTS = [
    {
        title: 'Tesla Landing',
        description: 'Realicé un proyecto clonando la página de Tesla, recreando su diseño y funcionalidades para practicar y mejorar mis habilidades de desarrollo web.',
        link:'#',
        github: '#',
        image: '/Projects/tesla.webp',
        tags: [TAGS.ASTRO, TAGS.TAILWIND],
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h3 class="text-3xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-4">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2 text-center items-center`}>
                            <tag.icon class="size-5" />
                            {tag.name}
                        </span>     
                    </li>
                ))}
            </ul>
            <img 
                class="rounded shadow-2xl shadow-white/10"
                src={image} 
                alt={`Captura de pantalla del proyecto ${image}`} 
            />
        </article> 
    ))
}